* {
  font-family: Roboto;
}

.priceConverter, .bitPrice, .historicalDataSection {


  text-align: left;

}

.priceConverter {
  margin-left: 1%;
}

.bitPrice, .dateRange {
  margin-top: 23%;
}

.btn-primary {
  background-color: #0A5480;
}

.priceCharts {
  text-align: center;
}

input[type="text"] {
  text-align: center; 
  background-color:#FFD971;
} 

.date-pick {
  width: 150px;
}


.header {

}

.decimal {
  width: 150px;
}
 .header, .jumbotron {
  background-color: #F7941A;
  padding-bottom: 5px;
  padding-top: 3px;
 }

 .mainContent {
  color: white;
 }

 body {
  background-color: #367CA6;
 }

 

